In [23]:
import pandas as pd
pd.set_option('display.float_format', '{:.5f}'.format)
import numpy as np

In [24]:
ticker="slv"
df=pd.read_csv(f"data/etf/jan2025/selected/{ticker}_20250103_20250131.csv",engine="pyarrow", sep = ',')
df["Date-Time"] = df["Date-Time"].dt.tz_convert("America/New_York")
df.head(3)
df.describe()

,L1-BidPrice,L1-BidSize,L1-AskPrice,L1-AskSize,L2-BidPrice,L2-BidSize,L2-AskPrice,L2-AskSize,L3-BidPrice,L3-BidSize,...,L23-AskPrice,L23-AskSize,L24-BidPrice,L24-BidSize,L24-AskPrice,L24-AskSize,L25-BidPrice,L25-BidSize,L25-AskPrice,L25-AskSize
count,2365838.00000,2365838.00000,2366011.00000,2366011.00000,2364078.00000,2364078.00000,2363905.00000,2363905.00000,2362350.00000,2362350.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
mean,27.72448,5624.14597,27.73754,5654.09297,27.71411,6314.17857,27.74845,6230.70974,27.70341,6590.26711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.47097,4589.50589,0.47095,4525.39527,0.47125,4480.93375,0.47122,4364.50824,0.47165,4134.46603,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,25.13000,1.00000,26.88000,1.00000,25.13000,3.00000,26.89000,1.00000,24.00000,1.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,27.40000,2200.00000,27.41000,2000.00000,27.39000,2300.00000,27.42000,2000.00000,27.38000,3000.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,27.65000,4800.00000,27.66000,4800.00000,27.64000,6800.00000,27.67000,6800.00000,27.63000,7300.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,27.99000,8100.00000,28.00000,8000.00000,27.98000,9000.00000,28.01000,9100.00000,27.97000,9000.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,28.89000,115000.00000,30.72000,75100.00000,28.88000,105500.00000,30.72000,39600.00000,28.87000,105400.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
pd.DataFrame(pd.to_datetime(df["Date-Time"]).dt.date.unique())

             0
0   2025-01-03
1   2025-01-06
2   2025-01-07
3   2025-01-08
4   2025-01-10
5   2025-01-13
6   2025-01-14
7   2025-01-15
8   2025-01-16
9   2025-01-17
10  2025-01-21
11  2025-01-22
12  2025-01-23
13  2025-01-24
14  2025-01-27
15  2025-01-28
16  2025-01-29
17  2025-01-30
18  2025-01-31

In [26]:
df["Date"] = pd.to_datetime(df["Date-Time"]).dt.date
grouped = df.groupby("Date").size().reset_index(name="Count")

In [27]:
# Filter only regular market hours (09:30–16:00 Eastern)
df_market = df[
    (df["Date-Time"].dt.time >= pd.to_datetime("09:40:00").time()) &
    (df["Date-Time"].dt.time <= pd.to_datetime("15:50:00").time())
]

In [28]:
base_cols = ["#RIC", "Date-Time"]
#base_cols = ["#RIC"]
# Dynamically build list for L1–L10
levels = []
for i in range(1, 11):  # L1–L10 inclusive
    levels += [
        f"L{i}-BidPrice", f"L{i}-BidSize",
        f"L{i}-AskPrice", f"L{i}-AskSize"
    ]

In [29]:
df_market_l10 = df_market[base_cols + levels]

In [30]:
df_market_l10.head(10)
df_market_l10.describe()

,L1-BidPrice,L1-BidSize,L1-AskPrice,L1-AskSize,L2-BidPrice,L2-BidSize,L2-AskPrice,L2-AskSize,L3-BidPrice,L3-BidSize,...,L8-AskPrice,L8-AskSize,L9-BidPrice,L9-BidSize,L9-AskPrice,L9-AskSize,L10-BidPrice,L10-BidSize,L10-AskPrice,L10-AskSize
count,2049127.00000,2049127.00000,2049127.00000,2049127.00000,2049127.00000,2049127.00000,2049127.00000,2049127.00000,2049127.00000,2049127.00000,...,2049108.00000,2049108.00000,2048963.00000,2048963.00000,2049083.00000,2049083.00000,2048938.00000,2048938.00000,2049071.00000,2049071.00000
mean,27.72784,6063.43669,27.73980,6145.26619,27.71779,6839.75884,27.74995,6787.10091,27.70774,7159.68776,...,27.81113,1666.92980,27.64737,1328.37383,27.82141,1275.76089,27.63717,1014.65960,27.83206,1011.60806
std,0.47353,4341.30110,0.47359,4509.04910,0.47359,4239.50640,0.47368,4246.65111,0.47365,3771.74449,...,0.47593,1866.62786,0.47436,1507.53854,0.47584,1413.84174,0.47415,1186.35491,0.47638,1216.77405
min,26.48000,1.00000,26.88000,1.00000,26.00000,5.00000,26.89000,10.00000,25.95000,5.00000,...,26.95000,20.00000,19.80000,11.00000,26.96000,20.00000,19.80000,11.00000,26.97000,20.00000
25%,27.39000,2900.00000,27.40000,2800.00000,27.38000,3100.00000,27.41000,2700.00000,27.37000,5800.00000,...,27.47000,700.00000,27.31000,700.00000,27.48000,700.00000,27.30000,400.00000,27.49000,400.00000
50%,27.65000,5321.00000,27.66000,5300.00000,27.64000,7400.00000,27.67000,7300.00000,27.63000,7700.00000,...,27.73000,1000.00000,27.57000,1000.00000,27.74000,900.00000,27.56000,800.00000,27.75000,800.00000
75%,27.99000,8442.00000,28.00000,8500.00000,27.98000,9200.00000,28.01000,9200.00000,27.97000,9200.00000,...,28.07000,1500.00000,27.91000,1200.00000,28.09000,1200.00000,27.90000,1100.00000,28.10000,1100.00000
max,28.89000,115000.00000,28.90000,75100.00000,28.88000,105500.00000,29.28000,39600.00000,28.87000,105400.00000,...,35.75000,15400.00000,28.81000,15600.00000,35.75000,12100.00000,28.80000,10300.00000,35.75000,11400.00000

In [31]:
price_cols = df_market_l10.filter(regex=r'^L(?:10|[1-9])-(?:Bid|Ask)Price$').columns

# Keep only rows where ANY price column changed vs the previous row
changed = df_market_l10[price_cols].ne(df_market_l10[price_cols].shift()).any(axis=1)
df_filtered = df_market_l10[changed].copy()

In [32]:
print(len(df_filtered))
print(len(df_market_l10))

124340
2049127

In [33]:
df_market_l10=df_filtered

In [34]:
df_market_l10["ms_timestamp"] = df_market_l10["Date-Time"].dt.floor("ms")
df_market_l10 = (
   df_market_l10.drop_duplicates(subset=["#RIC", "ms_timestamp"], keep="last")
     .drop(columns="ms_timestamp")
)
df_market_l10=df_market_l10.dropna()

In [35]:
df_market_l10.head(10)
df_market_l10.describe()

,L1-BidPrice,L1-BidSize,L1-AskPrice,L1-AskSize,L2-BidPrice,L2-BidSize,L2-AskPrice,L2-AskSize,L3-BidPrice,L3-BidSize,...,L8-AskPrice,L8-AskSize,L9-BidPrice,L9-BidSize,L9-AskPrice,L9-AskSize,L10-BidPrice,L10-BidSize,L10-AskPrice,L10-AskSize
count,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,...,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000
mean,27.76624,5450.77042,27.78188,5535.32111,27.75614,6644.28970,27.79238,6672.86334,27.74603,6569.98291,...,27.85633,1518.24287,27.68434,1234.26527,27.86721,1162.43708,27.67356,887.83367,27.87884,856.64987
std,0.48365,4665.43304,0.48368,4802.95337,0.48369,4382.02397,0.48400,4452.97966,0.48377,3744.45161,...,0.48925,1776.02295,0.48555,1468.73832,0.49071,1345.25996,0.48688,1175.76288,0.49529,1134.86824
min,26.80000,1.00000,26.88000,1.00000,26.54000,5.00000,26.89000,20.00000,26.36000,5.00000,...,26.95000,20.00000,25.04000,20.00000,26.96000,20.00000,19.80000,11.00000,26.97000,20.00000
25%,27.42000,1700.00000,27.44000,1700.00000,27.41000,2700.00000,27.45000,2500.00000,27.40000,3400.00000,...,27.51000,600.00000,27.34000,600.00000,27.52000,500.00000,27.33000,300.00000,27.53000,300.00000
50%,27.69000,4100.00000,27.70000,4100.00000,27.68000,7100.00000,27.71000,7100.00000,27.67000,7200.00000,...,27.77000,1000.00000,27.60000,900.00000,27.79000,900.00000,27.59000,600.00000,27.80000,600.00000
75%,28.01000,8500.00000,28.03000,8500.00000,28.00000,9100.00000,28.04000,9100.00000,27.99000,8900.00000,...,28.10000,1300.00000,27.93000,1200.00000,28.11000,1200.00000,27.92000,1000.00000,28.13000,1000.00000
max,28.89000,108700.00000,28.90000,35400.00000,28.88000,105400.00000,28.91000,39600.00000,28.87000,105400.00000,...,31.32000,15400.00000,28.81000,15600.00000,31.82000,12100.00000,28.80000,10300.00000,35.75000,11400.00000

In [36]:
#df_market_l10.drop("mid_price",axis=1, inplace=True)
#df_market_l10.drop("abs.spread",axis=1, inplace=True)
#df_market_l10.drop("rel.spread",axis=1, inplace=True)

In [37]:
df_market_l10.insert(
            2, "mid_price", (df_market_l10["L1-BidPrice"] + df_market_l10["L1-AskPrice"]) / 2
        )  # Add the mid-price column to the orderbook dataframe.
df_market_l10.insert(
            2, "abs.spread", (df_market_l10["L1-AskPrice"] - df_market_l10["L1-BidPrice"])
        )
df_market_l10.insert(
            2, "rel.spread", (df_market_l10["L1-AskPrice"] - df_market_l10["L1-BidPrice"])/df_market_l10["mid_price"]
        )

In [38]:
df_market_l10.head(10)

,#RIC,Date-Time,rel.spread,abs.spread,mid_price,L1-BidPrice,L1-BidSize,L1-AskPrice,L1-AskSize,L2-BidPrice,...,L8-AskPrice,L8-AskSize,L9-BidPrice,L9-BidSize,L9-AskPrice,L9-AskSize,L10-BidPrice,L10-BidSize,L10-AskPrice,L10-AskSize
8290,SLV,2025-01-03 09:40:00.028091268-05:00,0.00074,0.02000,27.21000,27.20000,9100.00000,27.22000,4100.00000,27.19000,...,27.29000,2200.00000,27.12000,5200.00000,27.30000,800.00000,27.11000,200.00000,27.31000,800.00000
8304,SLV,2025-01-03 09:40:00.375169630-05:00,0.00037,0.01000,27.21500,27.21000,2700.00000,27.22000,11200.00000,27.20000,...,27.29000,2200.00000,27.13000,4900.00000,27.30000,800.00000,27.12000,5200.00000,27.31000,800.00000
8336,SLV,2025-01-03 09:40:05.023122125-05:00,0.00073,0.02000,27.22000,27.21000,20300.00000,27.23000,25500.00000,27.20000,...,27.30000,800.00000,27.13000,4900.00000,27.31000,800.00000,27.12000,5200.00000,27.32000,200.00000
8338,SLV,2025-01-03 09:40:05.447334991-05:00,0.00037,0.01000,27.21500,27.21000,18000.00000,27.22000,2600.00000,27.20000,...,27.29000,2200.00000,27.13000,4900.00000,27.30000,800.00000,27.12000,5200.00000,27.31000,800.00000
8355,SLV,2025-01-03 09:40:07.162635990-05:00,0.00073,0.02000,27.22000,27.21000,23900.00000,27.23000,25500.00000,27.20000,...,27.30000,800.00000,27.13000,4900.00000,27.31000,800.00000,27.12000,5200.00000,27.32000,200.00000
8359,SLV,2025-01-03 09:40:07.382657101-05:00,0.00037,0.01000,27.21500,27.21000,21500.00000,27.22000,2700.00000,27.20000,...,27.29000,2200.00000,27.13000,4900.00000,27.30000,800.00000,27.12000,5200.00000,27.31000,800.00000
8362,SLV,2025-01-03 09:40:07.617733064-05:00,0.00073,0.02000,27.22000,27.21000,21500.00000,27.23000,25500.00000,27.20000,...,27.30000,800.00000,27.13000,4900.00000,27.31000,800.00000,27.12000,5200.00000,27.32000,200.00000
8363,SLV,2025-01-03 09:40:07.758153713-05:00,0.00037,0.01000,27.21500,27.21000,21500.00000,27.22000,2500.00000,27.20000,...,27.29000,2200.00000,27.13000,4900.00000,27.30000,800.00000,27.12000,5200.00000,27.31000,800.00000
8405,SLV,2025-01-03 09:40:13.487973259-05:00,0.00074,0.02000,27.21000,27.20000,9100.00000,27.22000,23300.00000,27.19000,...,27.29000,2200.00000,27.12000,5400.00000,27.30000,1000.00000,27.11000,200.00000,27.31000,800.00000
8447,SLV,2025-01-03 09:40:15.927467988-05:00,0.00037,0.01000,27.20500,27.20000,9100.00000,27.21000,2900.00000,27.19000,...,27.28000,1000.00000,27.12000,5400.00000,27.29000,2200.00000,27.11000,200.00000,27.30000,1000.00000

In [39]:
print(sum(round(df_market_l10["abs.spread"],2)==float(0.01)))
tick_size=sum(round(df_market_l10["abs.spread"],2)==float(0.01))/df_market_l10.size
print(tick_size)

58763
0.012428446491776303

In [40]:
df_market_l10.describe()

,rel.spread,abs.spread,mid_price,L1-BidPrice,L1-BidSize,L1-AskPrice,L1-AskSize,L2-BidPrice,L2-BidSize,L2-AskPrice,...,L8-AskPrice,L8-AskSize,L9-BidPrice,L9-BidSize,L9-AskPrice,L9-AskSize,L10-BidPrice,L10-BidSize,L10-AskPrice,L10-AskSize
count,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,...,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000
mean,0.00056,0.01564,27.77406,27.76624,5450.77042,27.78188,5535.32111,27.75614,6644.28970,27.79238,...,27.85633,1518.24287,27.68434,1234.26527,27.86721,1162.43708,27.67356,887.83367,27.87884,856.64987
std,0.00104,0.02902,0.48345,0.48365,4665.43304,0.48368,4802.95337,0.48369,4382.02397,0.48400,...,0.48925,1776.02295,0.48555,1468.73832,0.49071,1345.25996,0.48688,1175.76288,0.49529,1134.86824
min,0.00035,0.01000,26.87000,26.80000,1.00000,26.88000,1.00000,26.54000,5.00000,26.89000,...,26.95000,20.00000,25.04000,20.00000,26.96000,20.00000,19.80000,11.00000,26.97000,20.00000
25%,0.00036,0.01000,27.42500,27.42000,1700.00000,27.44000,1700.00000,27.41000,2700.00000,27.45000,...,27.51000,600.00000,27.34000,600.00000,27.52000,500.00000,27.33000,300.00000,27.53000,300.00000
50%,0.00037,0.01000,27.69500,27.69000,4100.00000,27.70000,4100.00000,27.68000,7100.00000,27.71000,...,27.77000,1000.00000,27.60000,900.00000,27.79000,900.00000,27.59000,600.00000,27.80000,600.00000
75%,0.00072,0.02000,28.02000,28.01000,8500.00000,28.03000,8500.00000,28.00000,9100.00000,28.04000,...,28.10000,1300.00000,27.93000,1200.00000,28.11000,1200.00000,27.92000,1000.00000,28.13000,1000.00000
max,0.03544,1.00000,28.89500,28.89000,108700.00000,28.90000,35400.00000,28.88000,105400.00000,28.91000,...,31.32000,15400.00000,28.81000,15600.00000,31.82000,12100.00000,28.80000,10300.00000,35.75000,11400.00000

In [41]:
df_market_l10

,#RIC,Date-Time,rel.spread,abs.spread,mid_price,L1-BidPrice,L1-BidSize,L1-AskPrice,L1-AskSize,L2-BidPrice,...,L8-AskPrice,L8-AskSize,L9-BidPrice,L9-BidSize,L9-AskPrice,L9-AskSize,L10-BidPrice,L10-BidSize,L10-AskPrice,L10-AskSize
8290,SLV,2025-01-03 09:40:00.028091268-05:00,0.00074,0.02000,27.21000,27.20000,9100.00000,27.22000,4100.00000,27.19000,...,27.29000,2200.00000,27.12000,5200.00000,27.30000,800.00000,27.11000,200.00000,27.31000,800.00000
8304,SLV,2025-01-03 09:40:00.375169630-05:00,0.00037,0.01000,27.21500,27.21000,2700.00000,27.22000,11200.00000,27.20000,...,27.29000,2200.00000,27.13000,4900.00000,27.30000,800.00000,27.12000,5200.00000,27.31000,800.00000
8336,SLV,2025-01-03 09:40:05.023122125-05:00,0.00073,0.02000,27.22000,27.21000,20300.00000,27.23000,25500.00000,27.20000,...,27.30000,800.00000,27.13000,4900.00000,27.31000,800.00000,27.12000,5200.00000,27.32000,200.00000
8338,SLV,2025-01-03 09:40:05.447334991-05:00,0.00037,0.01000,27.21500,27.21000,18000.00000,27.22000,2600.00000,27.20000,...,27.29000,2200.00000,27.13000,4900.00000,27.30000,800.00000,27.12000,5200.00000,27.31000,800.00000
8355,SLV,2025-01-03 09:40:07.162635990-05:00,0.00073,0.02000,27.22000,27.21000,23900.00000,27.23000,25500.00000,27.20000,...,27.30000,800.00000,27.13000,4900.00000,27.31000,800.00000,27.12000,5200.00000,27.32000,200.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2362907,SLV,2025-01-31 15:49:45.092637185-05:00,0.00035,0.01000,28.46500,28.46000,11700.00000,28.47000,2200.00000,28.45000,...,28.54000,5800.00000,28.38000,1250.00000,28.55000,1400.00000,28.37000,800.00000,28.56000,1400.00000
2362909,SLV,2025-01-31 15:49:45.312371136-05:00,0.00070,0.02000,28.47000,28.46000,10700.00000,28.48000,3900.00000,28.45000,...,28.55000,1400.00000,28.38000,1250.00000,28.56000,1400.00000,28.37000,800.00000,28.57000,500.00000
2362911,SLV,2025-01-31 15:49:45.842410992-05:00,0.00035,0.01000,28.46500,28.46000,10300.00000,28.47000,2200.00000,28.45000,...,28.54000,5800.00000,28.38000,1250.00000,28.55000,1400.00000,28.37000,800.00000,28.56000,1400.00000
2362919,SLV,2025-01-31 15:49:47.317805556-05:00,0.00070,0.02000,28.47000,28.46000,8500.00000,28.48000,3900.00000,28.45000,...,28.55000,1400.00000,28.38000,1250.00000,28.56000,1400.00000,28.37000,800.00000,28.57000,500.00000
2362932,SLV,2025-01-31 15:49:47.332781756-05:00,0.00035,0.01000,28.47500,28.47000,3600.00000,28.48000,3900.00000,28.46000,...,28.55000,1400.00000,28.39000,900.00000,28.56000,1400.00000,28.38000,1250.00000,28.57000,500.00000

In [42]:
df_market_l10[~df_market_l10.isna().any(axis=1)].to_csv(f"data/etf/jan2025/cleaned/{ticker}_cleaned_jan2025.csv", index=False)

In [43]:
df_market_l10.describe()

,rel.spread,abs.spread,mid_price,L1-BidPrice,L1-BidSize,L1-AskPrice,L1-AskSize,L2-BidPrice,L2-BidSize,L2-AskPrice,...,L8-AskPrice,L8-AskSize,L9-BidPrice,L9-BidSize,L9-AskPrice,L9-AskSize,L10-BidPrice,L10-BidSize,L10-AskPrice,L10-AskSize
count,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,...,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000,105069.00000
mean,0.00056,0.01564,27.77406,27.76624,5450.77042,27.78188,5535.32111,27.75614,6644.28970,27.79238,...,27.85633,1518.24287,27.68434,1234.26527,27.86721,1162.43708,27.67356,887.83367,27.87884,856.64987
std,0.00104,0.02902,0.48345,0.48365,4665.43304,0.48368,4802.95337,0.48369,4382.02397,0.48400,...,0.48925,1776.02295,0.48555,1468.73832,0.49071,1345.25996,0.48688,1175.76288,0.49529,1134.86824
min,0.00035,0.01000,26.87000,26.80000,1.00000,26.88000,1.00000,26.54000,5.00000,26.89000,...,26.95000,20.00000,25.04000,20.00000,26.96000,20.00000,19.80000,11.00000,26.97000,20.00000
25%,0.00036,0.01000,27.42500,27.42000,1700.00000,27.44000,1700.00000,27.41000,2700.00000,27.45000,...,27.51000,600.00000,27.34000,600.00000,27.52000,500.00000,27.33000,300.00000,27.53000,300.00000
50%,0.00037,0.01000,27.69500,27.69000,4100.00000,27.70000,4100.00000,27.68000,7100.00000,27.71000,...,27.77000,1000.00000,27.60000,900.00000,27.79000,900.00000,27.59000,600.00000,27.80000,600.00000
75%,0.00072,0.02000,28.02000,28.01000,8500.00000,28.03000,8500.00000,28.00000,9100.00000,28.04000,...,28.10000,1300.00000,27.93000,1200.00000,28.11000,1200.00000,27.92000,1000.00000,28.13000,1000.00000
max,0.03544,1.00000,28.89500,28.89000,108700.00000,28.90000,35400.00000,28.88000,105400.00000,28.91000,...,31.32000,15400.00000,28.81000,15600.00000,31.82000,12100.00000,28.80000,10300.00000,35.75000,11400.00000